html {
    scroll-behavior: smooth;
}

.page { 
    height: 100%;

    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    background-color: var(--color-white);
    color: var(--color-dark);


}







