.footer {
    background-color: var(--color-dark-green);
    color: var(--color-white);

    a {
        color:  var(--color-white);
    }

    &__item-wrapper {
        padding-right: 20px;
        margin-bottom: 50px;
    }

    &__title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 800;

        margin-bottom: 17px;
        display: block;
    }

    &__wrapper {

        @media (min-width: $size-desktop) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}