.offer {
    background-color: #fff;

    &__review {
        margin-bottom: 32px;

        font-size: 18px;
    }


    &__item-advantage {
        margin-bottom: 32px;
        display: flex;

        img {
            height: 48px;
            width: 48px;
            margin-right: 10px;
        }
    }

    &__gallery {
        @media(max-width: $size-desktop) {
            display: none;
        }

        @media(min-width: $size-desktop) {
            max-width: 510px;
        }
    }

    &__wrapper {
        @media (min-width: $size-desktop) {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0 auto;
                max-width: 1180px;
            
        }
    }

    &__description {
        @media (min-width: $size-desktop) {
            max-width: 580px;
        }
    }


        
    &__list-gallery {
        @media (min-width:$size-desktop) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 70px;
        }
    }

    &__item-gallery{
        @media (min-width: $size-desktop) {
            max-width: 200px;
            height: 200px;
            margin: 10px 10px;
        }
    }
        
    &__picture{
        @media (min-width: $size-desktop) {
            max-width: 200px;
            height: 200px;
        
        
        }

        &_extreme {
            @media (min-width: $size-desktop) {
                border-radius:  0 50px 0 50px;
            }
        }

        &_average {
            @media (min-width: $size-desktop) {
                border-radius: 50px 0 50px 0;
            }
        }
    }
}